.button {
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
  color: $dark;
  background: transparent;
  opacity: 0.9;
  border: none;

  &.contained {
    background: $blue-dark;
    color: $light;
  }

  &.outlined {
    border: 1px solid $grey;
    background: $grey-light;
    color: $dark;
  }
  &.non-active {
    background: $light;
    color: $blue;
    border: 1px solid $blue;
  }
  &.active {
    background: $blue;
    color: $light;
    border: 1px solid $blue;
  }

  &:hover {
    opacity: 1;
  }
}
